<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernatee/Hibernate Configuration DTD 3.0//EN"
								"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- JDBC database connection settings -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/geersdb</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		
		<!-- JBDC Connection Pool Setting -->
		<property name="connection.pool_size">1</property>
		
		<!-- Chose the Hibernate dialect for the specific database type -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		
		<!-- Echo out the SQL to the console -->
		<property name="show_sql">true</property>
		
		<property name="current_session_context_class">thread</property>
	</session-factory>
</hibernate-configuration>